<!-- 
  title: footer.ejs
  author: ngi bujri
  date: february 4 2023
  description: footer template
 -->

<footer class="footer">
  <div class="credits">
    IMAGES FROM <a href="https://unsplash.com">UNSPLASH</a>
  </div>
  <div>
    Developed by
    <a href="https://github.com/nbujri/pets-r-us">Ngi Bujri</a>
  </div>
</footer>
