<!-- 
  title: header.ejs
  author: ngi bujri
  date: february 4 2023
  description: header template
 -->

<!-- navigation -->
<header class="header">
  <h1 class="logo">Pets-R-Us</h1>
  <nav class="nav-links">
    <a href="/" class="nav-link">Home</a>
    <a href="/grooming" class="nav-link">Grooming</a>
    <a href="/training" class="nav-link">Training</a>
    <a href="/boarding" class="nav-link">Boarding</a>
    <a href="/register" class="nav-link">Register</a>
    <a href="/customer-list" class="nav-link">Customers</a>
    <a href="/booking" class="nav-link">Booking</a>
    <a href="#" class="nav-link">My Appointments</a>
  </nav>
</header>
