<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/site.css" />

    <title>Pets-R-Us</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Pets-R-Us</h1>
        <div class="links">
          <a href="/">Home</a>
          <a href="/grooming">Grooming</a>
          <a href="#">Training</a>
          <a href="#">Boarding</a>
          <a href="#">Register</a>
          <a href="#">Customers</a>
          <a href="#">Appointments</a>
        </div>
      </header>
    </div>
  </body>
</html>
