/* 
title: register.css
author: ngi bujri
date: february 11 2023
description: styles for register.ejs
*/

/* all classes with display: flex */
.registration-form,
.card,
.card-content,
.form,
.field {
  display: flex;
}

.registration-form {
  background-color: #bbf7d0;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 50px;
}

.card {
  background-color: #111827;
  width: 70%;
  padding: 18px 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card-content {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.big-text {
  font-size: 64px;
  color: #bbf7d0;
}

.form {
  width: 100%;
  flex-direction: column;
  padding: 50px 0;
  gap: 24px;
}

.field {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.field label {
  color: #bbf7d0;
  font-size: 24px;
  padding-bottom: 0px;
}

.field input {
  height: 30px;
  border: 2px solid #bbf7d0;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}

.field input,
.submit {
  width: 50%;
}

.submit {
  margin-top: 50px;
  padding: 12px 20px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #bbf7d0;
  border-radius: 8px;
}

.submit:hover {
  cursor: pointer;
}
