/*
title: shared.css
author: ngi bujri
date: february 4 2023
description: styles that are shared between pages
*/

/* remove some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* .container {
  height: 100%;
  display: flex;
  flex-direction: column;
} */

/* header styles */
.header {
  background-color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  /* fix header to top of page */
  position: sticky;
  z-index: 1;
  top: 0;
}

.logo {
  color: #e0f2fe;
  font-size: 48px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: #e0f2fe;
  font-size: 24px;
  margin-top: 10px;
  text-decoration: none;
}

/* show underline when hovering over nav links */
.nav-link:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  background-color: #111827;
  color: #bbf7d0;
  border-top: 1px solid #bbf7d0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 200px; */
  width: 100%;
  padding: 30px 0;
}

.footer a:visited {
  color: #bbf7d0;
}
